<div class="row col-4">
  <div class="col-12 ">
      <div class="input-group ">
          <div>
              <label for="ad">Ad</label>
          </div>
          <input [(ngModel)]="data.ad" type="text" class="form-control">
      </div>
  </div>
  <div class="col-12">
      <div class="input-group ">
          <div>
              <label for="ad">Soyad</label>
          </div>


          <input [(ngModel)]="data.soyad" type="text" class="form-control">
      </div>

  </div>
  <div class="col-12 ">
      <div class="input-group ">
          <div>
              <label for="ad">Yaş</label>
          </div>
          <input [(ngModel)]="data.yas" type="text" class="form-control">
      </div>
  </div>
</div>
<div class="col-2">
  <button type="button" class="btn btn-info" (click)="kaydet()">{{data.id == 0 ? 'Kaydet' : 'Güncelle'}}</button>
</div>